

 #main{
     border-style: dashed;
border-color:green;text-align:center;
margin-left:25px; margin-right:25px ;

}


h1{
    
    text-align:center;background-color:rgb(248, 208, 74)};

.pest{background-color: aqua}
h2{text-align: center;background-color: red}
h3{text-align: center;background-color: dodgerblue}